{
    "code": "krymskotatarska",
    "name": "Кримськотатарська",
    "desc": "Транслітерація кримськотатарської латинки на українську",
    "link": "https://uk.wikipedia.org/wiki/%D0%9A%D1%80%D0%B8%D0%BC%D1%81%D1%8C%D0%BA%D0%BE%D1%82%D0%B0%D1%82%D0%B0%D1%80%D1%81%D1%8C%D0%BA%D0%B0_%D0%BC%D0%BE%D0%B2%D0%B0#%D0%92%D0%B8%D0%BC%D0%BE%D0%B2%D0%B0_%D0%BB%D1%96%D1%82%D0%B5%D1%80",
    "from": "ukr",
    "to": "lat",

    "affectVowelNotConsonantWhenSofting": false,

    "beforeStartDict": {},

    "dict": {
        "а": "а",
            "â": "я",
            "b": "б",
            "c": "джь",
            "ç": "ч",
            "d": "д",
            "e": "е",
            "f": "ф",
            "g": "ґ",
            "ğ": "г",
            "h": "х",
            "ı": "и",
            "i": "і",
            "j": "ж",
            "k": "к",
            "l": "л",
            "m": "м",
            "n": "н",
            "ñ": "н'",
            "o": "о",
            "ö": "ьо",
            "p": "р",
            "q": "к'",
            "r": "р",
            "s": "с",
            "ş": "ш",
            "t": "т",
            "u": "у",
            "ü": "ю",
            "v": "в",
            "y": "й",
            "z": "з"
    },

    "apostrophesSingleKeyDict": {
        "'`‘’": "'"
    },

    "substitutionForUndefinedResult" : ""
}